html ,body {
    height: 100%;
    text-align:center;
    margin: 0px;
    padding: 0px;
    background: #c4df87;
    font-size: 11px;
    font-weight: 400;
    color: #000000;
    font-family: "Inter", sans-serif;
}
.welcome-title {
   text-align: center;
}

a.Github {
    color: #000000;
    text-decoration: none;
    align-content: center;


}

.github-icon {
    width: 50px;
    height: 50px;
    margin-top: 20px;
    border: 2px solid #000000;
    border-radius: 10px;
    background-color: #ffffff;
}

.reach-me {
    font-size: 20px;
    margin-top: 10px;
    color: #000000;
    font-weight: bold;
}

.reach-me-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}


.dog-img {
    width: 400px;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
   
   
}


.slack-icon {
    width: 50px;
    height: 50px;


}



.about-me {
    font-size: 20px;
    font-weight: 300;
}




.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.this-is-dog {
    font-size : 17px;
}
 

.navbar ul {
    
    font-size: 15px;
    text-decoration: none;
    list-style-type: none;
    background-color: #4a5a25;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    


    
}

a.otherprojects {
    color: #1a1a1a;
    font-size: 15px;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    
}

a.moreabout {
    color: #1a1a1a;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 15px;
}

a.home {
     color: #1a1a1a;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 15px;
}


.navbar li {
    float: left;
}

.slackbot-div {
    border-radius: 10px;
    border: 2px solid #000000;
    margin-top: 10px;
    box-sizing:border-box;
    width: 500px;
    margin-left: 80px;
    

}



.hackpad-div {
    border-radius: 10px;
    border: 2px solid #000000;
    margin-top: 10px;
    box-sizing:border-box;
    width: 500px;
    margin-left: 80px;
    
}
.stardance-logo {
    width: 200px;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
}
