body {
    background-color: #c8ff8096;
    font-family:Georgia, 'Times New Roman', Times, serif;
    align-content: center;
    text-align: center;
}

.welcome-title {
   text-align: center;
}

a.Github {
    color: #000000;
    text-decoration: none;
    align-content: center;


}